{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">

    <title>ShowCase-Base</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% bootstrap_javascript %}
    <script src="{% static 'js/main.js' %}"></script>

  </head>
  <body>
    <header>
      {% include 'base/navbar.html' %}
      {% include 'base/banner.html' %}
    </header>

    <main class="container my-5">
      {% block bodymainPage %}
      {% endblock %}
    </main>

    <footer class="bg-dark text-center text-lg-start text-white">
        {% include 'base/footer.html' %}
    </footer>
      <script>

    </script>
  </body>
</html>
