<div class="col">
    <div class="card shadow-sm">
        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{Partner.logo.url}}" alt=""/>
        <div class="card-body">
            <h3 class="card-text">{{Partner.name}}</h3>
            <p class="card-text">{{Partner.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'Partner_u' Partner.id %}" class="btn btn-sm btn-outline-warning">Modifier</a>
                    <a href="{% url 'Partner_d' Partner.id %}" class="btn btn-sm btn-outline-danger">Supprimer</a>
                </div>
                <a class="btn btn-sm btn-outline-primary" href="{{Partner.webSite}}">Découvrir le site du partenaire !</a>
            </div>
        </div>
    </div>
</div>
